.statcard {
    height: 150px;
    width: 300px;
    border-radius: 10px;
    background-color: #fff;
}

.statContainer {
    width: 50%;
    margin: auto;
}

p {
    display: inline;
}

.countStat {
    font-size: 60px;
    font-weight: 600;
    margin-right: 20px;
}

.countStatOnQuestions {
    position: relative;
    left: -20px;
}

.countText {
    font-size: 30px;
    font-weight: 600;
}

.countTextOnQuestions {
    position: relative;
    left: -30px;
}
