.optionContainer {
    height: 100px;
    width: 320px;
    background-color: #f0f0f0;
    font-size: 25px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-radius: 10px;
}

.imageOption {
    width: 50%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

@media (max-width: 500px) {
    .optionContainer {
        height: 90px;
    }
}
