.optionContainer {
    height: 130px;
    width: 320px;
    background-color: #f0f0f0;
    border-radius: 10px;
}

.imageOption {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 500px) {
    .optionContainer {
        height: 90px;
    }
}
